.card {
    background-color: var(--color-steel);
    height: calc(100% - var(--spacing-xl));
    padding: var(--spacing-xxl) var(--spacing-lg) var(--spacing-xxxl) var(--spacing-lg);
    position: absolute;
    clip-path: inset(0 round 8px);
}

.card.active {
    visibility: visible;
}

.details {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.title {
    composes: caption-large from '../../../styles/utilities/typography.modules.css';
    margin-bottom: var(--spacing-sm);
}

.category {
    composes: body-medium from '../../../styles/utilities/typography.modules.css';
    margin: 0;
}

.description {
    composes: caption-large from '../../../styles/utilities/typography.modules.css';
    margin-bottom: var(--spacing-md);
}

.footer {
    align-items: center;
    display: flex;
    gap: var(--gap-sm);
    margin-top: auto;
}